@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin: 0;
    padding: 0;
    background: var(--background);
    font-family: "Barlow Condensed",sans-serif;
    font-weight: bold ;
    display: flex;
    flex-direction: column;
    .dropdown {
        position: relative;
        display: inline-block;
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: var(--background);
            min-width: 160px;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            z-index: 1;
            a {
                color: var(--text);
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }
        }
    }
    .dropdown:hover .dropdown-content {
        display: block;
    }
}
*{
    transition: all 0.3s;
}
::-webkit-scrollbar{
    width: 1em;
}
::-webkit-scrollbar-track{
    border-radius: 20px;
    margin: 10px 0;
}
::-webkit-scrollbar-thumb{
    background: var(--accent);
    border-radius: 20px;

}
#index{
    margin: 7.5px;
}
#reglog {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Barlow Condensed",sans-serif;
        font-weight: bold;
        transition: all 0.3s ease;
    }
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #6e72fc;
    background-image: linear-gradient(315deg, #6e72fc 0%, #ad1deb 74%);
    background-size: cover;
    background-position: center;
    .backbutt{
        i{
            color: white;
            margin-right: 3px;
        }
        button{
            cursor: pointer;
            text-shadow: black 0 0 3px;
            color: white;
            border-radius: 20px;
            min-width: 100px;
            height: 30px;
            align-self: center;
            border: 0;
            background: none;
            font-size: 20px;
            transition: 0.15s;
        }
        position: fixed;
        top: 15px;
        left: 15px;
    }
    .reglog {
        width: 420px;
        background-color: transparent;
        border: 2px solid rgba(255, 255, 255, .2);
        backdrop-filter: blur(20px);
        box-shadow: rgba(255, 255, 255, 0.2) 0 0 5px 1px;
        color: #ffffff;
        border-radius: 20px;
        padding: 30px 40px;
    }

    .reglog:hover {
        transform: scale(100%);
    }

    .reglog h1 {
        font-size: 36px;
        text-align: center;
    }

    .reglog .input-box {
        position: relative;
        width: 100%;
        height: 50px;
        margin: 30px 0;

        input:hover {
            box-shadow: white 0 0 12px;
        }

        input:focus {
            box-shadow: white 0 0 6px;
        }

    }

    .input-box input {
        width: 100%;
        height: 100%;
        background: transparent;
        outline: none;
        border: 2px solid rgba(255, 255, 255, .2);
        border-radius: 20px;
        font-size: 16px;
        color: white;
        padding: 20px 45px 20px 20px;
    }

    ::placeholder {
        color: white;
        opacity: 0.7;
    }

    .input-box i {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px;
    }

    .reglog .remember-forgot {
        display: flex;
        justify-content: space-between;
        font-size: 14.5px;
        margin: -15px 0 15px;
    }

    .remember-forgot label input {
        color: #ffffff;
        margin-right: 3px;
    }

    .remember-forgot a {
        color: #ffffff;
        text-decoration: none;
    }

    .remember-forgot a:hover {
        text-decoration: underline;
    }

    .reglog .btn {
        width: 100%;
        height: 45px;
        background-color: #ffffff;
        border: none;
        outline: none;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, -1);
        cursor: pointer;
        font-size: 16px;
        color: #333333;
        font-weight: 600;
    }

    .reglog .register-link {
        font-size: 14.5px;
        text-align: center;
        margin: 20px 0 15px;
    }

    .register-link p a {
        color: #ffffff;
        text-decoration: none;
        font-weight: 600;
    }

    .register-link p a:hover {
        text-decoration: underline;
    }
}
#Prebuilt{
    margin: 7.5px;
    .grid-tags{
        margin-top: 20px;
    }
    .cg{
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }
}
button{
    cursor: pointer;
    border: none;
    appearance: none;
    background-color: inherit;
}
header{
    position: sticky;
    top: 10px;
    z-index: 99;
    nav{

        height: 60px;
        border-radius: 40px;
        background-color: var(--accent);
        box-shadow: 0 4px 16px 2px var(--shadow);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .logo{
            margin: 0 0 0 20px;
        }
        .navmenu{
            padding: 0;
            a:hover,a.active{
                text-shadow: 2px 2px 4px var(--glow);
            }
        }
        .acc {
            margin: 0 20px 0 0;
            padding: 0;
            img{
                margin-left: 5px;
                width:40px;
                height:40px;
            }
            a:hover{
                filter: drop-shadow(0px 0px 2px var(--glow));
            }
            #dark{
                margin-right: -10px;
            }
        }
        ul{
            display: flex;
            list-style: none;
        }
        a{
            transition: all 0.3s ease;
            margin: 0 5px 0 5px;
            color: black;
            font-size: 18px;
            text-transform: uppercase;
        }
    }
}
main{
    padding-top: 10px;
}
.grid-container {
    display: grid;
    gap: 10px;
    padding: 10px;
    grid-template-columns: 310px auto;
    grid-template-rows: 510px;
    .grid-item {
        box-shadow: rgba(9, 30, 66, 0.25) 0 4px 8px -2px, rgba(9, 30, 66, 0.08) 0 0 0 1px;
        background-color: rgba(255, 255, 255, 0.074);
        padding: 10px;
        font-size: 30px;
        border-radius: 20px;
    }
    .item1 {
        ul{
            margin-left: -20px;
        }
        li {
            a{
                color: var(--text);
                text-decoration:none;
            }
            a:hover {
                transition: text-shadow 0.3s ease 0s;
                text-shadow: 2px 2px 4px var(--accent);
            }
            margin-top: 10px;
            list-style-type: none;
        }
        text-align: left;
        text-decoration: none;
        grid-column: 1;
        grid-row: 1 ;
        min-width: 270px;
    }
    .item2 {
        align-content: center;
        grid-column: 2;
        grid-row: 1 ;
        display: flex;
        iframe
        {
            margin: auto ;
            border-radius: 20px;
            width: 98%;
            height: 98%;
            box-shadow: 0 0 10px;
        }
    }
}
.grid-tags{
    margin: 15px 0 0 0;
    display: flex;
    justify-content: space-between;
    i{
        color: var(--text);
        font-size: 28px;
    }
    p{
        align-self: center;
        font-size: 30px;
        margin: 0 40px 0 40px;
        color: var(--text);
        text-shadow: 2px 2px  8px var(--accent);
    }
    .grid-mover{
        align-self: center;
        margin: 0 40px 0 0;
    }
    i:hover {
        text-shadow: var(--accent) 0 0 32px;
        transform: scale(150%);
    }
    i:active {
        text-shadow: var(--shadow) 0 0 7px;
        transform: scale(95%);
    }
}
.new-arrival-grid{
    justify-content: left;
    display: flex;
    gap: 15px;
    padding: 25px;
    overflow-x: auto;
    flex-wrap: nowrap;
    .argrid {
        transition: all 0.3s;
        box-shadow: rgba(9, 30, 66, 0.25) 0 4px 8px -2px, rgba(9, 30, 66, 0.08) 0 0 0 1px;
        background-color: rgba(255, 255, 255, 0.074);
        text-align: center;
        padding: 10px;
        font-size: 30px;
        border-radius: 20px;
        width: 300px;
        height: 440px;
        display: flex;
        flex-direction: column;
        p{
            width: 300px;
            height: 140px;
            font-size: 26px;
            margin: 0;
            color: var(--text);
            text-align: center;
            overflow: hidden;

        }
        .arimg{
            height: 260px;
            max-height: 260px;
            min-height: 260px;
            width: 280px;
            margin: 10px 0 0;
            box-shadow: var(--shadow) 0 0 5px 1px;
            align-self: center;
            position: relative;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            background-color: white;
        }
        img
        {
            padding: 0 ;
            justify-content: center;
            margin: auto 10px;
            position: relative;
            width: calc(100% - 40px);
            height: calc(100% - 40px);
            object-fit: contain;
            align-self: center;
        }
    }
}
.btn{
    border-radius: 20px;
    min-width: 100px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 30px;
    align-self: center;
    margin-top: auto;
    margin-bottom: 10px;
    background-color: var(--accent);
    box-shadow: var(--shadow) 0 0 6px;
    color: ghostwhite;
    font-size: 18px;
    transition: 0.15s;
}
.btn:hover {
    box-shadow: var(--accent) 0 0 16px;
    transform: scale(105%);
}
.btn:active {
    box-shadow: var(--shadow) 0 0 7px;
    transform: scale(95%);
}
.argrid:hover {
    transform: scale(1.05);
    box-shadow: var(--accent) 0 1px 8px;
}
.footer {
    border-radius: 20px;
    margin: 10px 0 0 0;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.074);
    display: flex;
    flex-wrap: wrap;
    box-shadow: rgba(14, 30, 37, 0.12) 0 2px 4px 0, rgba(14, 30, 37, 0.32) 0 2px 16px 0;
    .footer-content{
        margin: 10px;
        h4 {
            font-size: 20px;
            margin: 10px 0 10px 20px;
            color: var(--text);
        }
        ul
        {
            list-style: none;
            margin-left: -20px;
        }
        li
        {
            font-size: 18px;
            margin-bottom: 8px;
        }
        a
        {
            color: var(--text);
            text-decoration: none;
        }
        a:hover{
            transition: text-shadow 0.3s ease 0s;
            text-shadow: 2px 2px 4px var(--glow);
        }
    }
}
:root {
    --text: #000000;
    --background: #efeafc;
    --primary: #2a2461;
    --secondary: #8076d5;
    --accent: #5f52d3;
    --glow: #c2affa;
    --grid: #171717;
    --shadow: rgba(0,0,0,0.6);
}
.dark{
    --text: #ffffff;
    --background: #120f1a;
    --primary: #a49edb;
    --secondary: #342a88;
    --accent: #5f52d3;
    --glow: #c2affa;
    --grid: #171717;
    --shadow: rgba(255,255,255,0.2);
}