@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin: 0;
    padding: 0;
    background: var(--background);
    font-family: "Barlow Condensed",sans-serif;
    font-weight: bold ;
    display: flex;
    flex-direction: column;
    .dropdown:hover .dropdown-content{
        display: block;
    }
    :has(.burger-btn:checked) .hamburger {
        transform: translateX(0);
        box-shadow: var(--shadow) 0 0 16px 8px;
    }
    :has(#payment_cash:checked) .payment_cash_submit {
        display: block;
    }
    :has(#payment_card:checked) .payment_card_submit {
        display: block;
    }
    :has(#payment_instapay:checked) .payment_instapay_submit {
        display: block;
    }
    :has(#gg:checked) .gg {display: block;}
    :has(#dh:checked) .dh {display: block;}
    :has(#ass:checked) .ass {display: block;}
}
*{
    transition: all 0.3s;
    ::-webkit-scrollbar{
        width: 0.75em;
    }
    ::-webkit-scrollbar-track{
        background: transparent;
        border-radius: 20px;
        margin: 10px 0;
    }
    ::-webkit-scrollbar-thumb{
        background: var(--accent);
        border-radius: 20px;
    }
}
#index{
    margin: 7.5px;
    .new-arrival-grid::-webkit-scrollbar{
        display: none;
    }
}
#reglog {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Barlow Condensed",sans-serif;
        font-weight: bold;
        transition: all 0.3s ease;
    }
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #6e72fc;
    background-image: linear-gradient(315deg, #704bfc 0%, #51358c 74%);
    background-size: cover;
    background-position: center;
    .backbutt{
        i{
            color: white;
            margin-right: 3px;
        }
        button{
            cursor: pointer;
            text-shadow: black 0 0 3px;
            color: white;
            border-radius: 20px;
            min-width: 100px;
            height: 30px;
            align-self: center;
            border: 0;
            background: none;
            font-size: 20px;
            transition: 0.15s;
        }
        position: fixed;
        top: 15px;
        left: 15px;
    }
    .reglog {
        width: 420px;
        background-color: transparent;
        border: 2px solid rgba(255, 255, 255, .2);
        backdrop-filter: blur(20px);
        box-shadow: rgba(255, 255, 255, 0.2) 0 0 5px 1px;
        color: #ffffff;
        border-radius: 20px;
        padding: 30px 40px;
    }

    .reglog:hover {
        transform: scale(100%);
    }

    .reglog h1 {
        font-size: 36px;
        text-align: center;
    }

    .reglog .input-box {
        position: relative;
        width: 100%;
        height: 50px;
        margin: 30px 0;

        input:hover {
            box-shadow: white 0 0 12px;
        }

        input:focus {
            box-shadow: white 0 0 6px;
        }

    }

    .input-box input {
        width: 100%;
        height: 100%;
        background: transparent;
        outline: none;
        border: 2px solid rgba(255, 255, 255, .2);
        border-radius: 20px;
        font-size: 16px;
        color: white;
        padding: 20px 45px 20px 20px;
    }

    ::placeholder {
        color: white;
        opacity: 0.7;
    }

    .input-box i {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px;
    }

    .reglog .remember-forgot {
        display: flex;
        justify-content: space-between;
        font-size: 14.5px;
        margin: -15px 0 15px;
    }

    .remember-forgot label input {
        color: #ffffff;
        margin-right: 3px;
    }

    .remember-forgot a {
        color: #ffffff;
        text-decoration: none;
    }

    .remember-forgot a:hover {
        text-decoration: underline;
    }

    .reglog .btn {
        width: 100%;
        height: 45px;
        background-color: #ffffff;
        border: none;
        outline: none;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, -1);
        cursor: pointer;
        font-size: 16px;
        color: #333333;
        font-weight: 600;
    }

    .reglog .register-link {
        font-size: 14.5px;
        text-align: center;
        margin: 20px 0 15px;
    }

    .register-link p a {
        color: #ffffff;
        text-decoration: none;
        font-weight: 600;
    }

    .register-link p a:hover {
        text-decoration: underline;
    }
}
#Prebuilt{
    margin: 7.5px;
    .grid-tags{
        margin-top: 20px;
    }
    .cg{
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }
}
#about-us{
    margin: 7.5px;
    main{
        color: var(--text);
        h1{text-align: center; font-size: 60px;margin: 10px 0}
    }
    .about-us{
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin-top: 20px;
        flex-wrap: wrap;
    }
    .abs1{margin: 10px 10px 10px auto;}
    .abs2{margin: 10px auto 10px 10px;}
    .us{
        color: var(--text);
        box-shadow: rgba(9, 30, 66, 0.25) 0 4px 8px -2px, rgba(9, 30, 66, 0.08) 0 0 0 1px;
        background-color: rgba(255, 255, 255, 0.074);
        border-radius: 20px;
        h1{text-align: left;}
        p{font-size: 45px;font-weight: normal}
        padding: 20px;
        width: 45%;
    }
    .us:hover{
        transform: scale(1.01);
        box-shadow: var(--accent) 0 1px 8px;
    }
}
#checkout{
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    a{
        text-decoration: none;
    }

    h3 {
        transform: translateX(50px);
    }

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background-color: #1f242d;
    }
    .submit_buttons{
        padding: 20px;
        margin-left: -20px;
        width: fit-content;
        align-items: center;

        button{
            align-self: center;
            cursor: pointer;
            margin: 5px;
            background: #414181FF;
            border-radius: 20px;
            border: 0;
            padding: 5px;
            width: 150px;
            color: white;
            box-shadow: rgba(0,0,0,0.25) 0 0 4px 4px;
        }
        button:hover{
            transform: scale(1.2);
        }
        button:active{ transform: scale(0.90)}
        .payment_cash_submit{
            display: none;
        }
        .payment_card_submit{
            display: none;
        }
        .payment_instapay_submit{
            display: none;
        }
    }
    .container form {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .container label {
        display: flex;
        cursor: pointer;
        font-weight: 500;
        position: relative;
        overflow: hidden;
        margin-bottom: 0.375em;
        transform: translateX(100px) translateY(150px);
    }

    .container  label input {
        position: absolute;
        left: -9999px;
    }

    .container label input:checked + span {
        background-color: #414181;
        color: white;
    }

    .container label input:checked + span:before {
        box-shadow: inset 0 0 0 0.4375em #00005c;
    }

    .container label span {
        display: flex;
        align-items: center;
        padding: 0.375em 0.75em 0.375em 0.375em;
        border-radius: 99em;
        transition: 0.25s ease;
        color: #414181;
    }

    .container label span:hover {
        background-color: #d6d6e5;
    }

    .container label span:before {
        display: flex;
        flex-shrink: 0;
        content: "";
        background-color: #fff;
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
        margin-right: 0.375em;
        transition: 0.25s ease;
        box-shadow: inset 0 0 0 0.125em #00005c;
    }

    .bucket {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        height: 100vh;
        padding: 25px;
    }

    .bucket form {
        width: 700px;
        padding: 40px;
        background-color: #ffffff;
        border-radius: 10px;
    }

    form .row {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
    }

    .row .column {
        flex: 1 1 250px;
    }

    .column .title {
        font-size: 20px;
        color: #333333;
        text-transform:uppercase;
        margin-bottom: 5px;
    }

    .column .input-box {
        margin: 15px 0px;
    }

    .input-box span {
        display: block;
        margin-bottom: 10px;
    }

    .input-box input {
        width: 100%;
        padding: 10px 15px;
        border: 1px solid #cccccc;
        border-radius: 6px;
        font-size: 15px;
    }

    .column .flex {
        display: flex;
        gap: 15px;
    }

    .flex .input-box {
        margin-top: 5px;
    }

    .input-box img {
        height: 34px;
        margin-top: 5px;
        filter: drop-shadow( 0 0 1px #000000);
    }

}
#buycard{
    background-image: linear-gradient(315deg, #704bfc 0%, #51358c 74%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .card{
        color: var(--text);
        box-shadow: rgba(9, 30, 66, 0.25) 0 4px 8px -2px, rgba(9, 30, 66, 0.08) 0 0 0 1px;
        background-color: rgba(255, 255, 255, 0.074);
        backdrop-filter: blur(10px);
        text-align: center;
        border-radius: 20px;
        border: 2px solid rgba(255, 255, 255, 0.074);
        width: 350px;
        height: 220px;
        h3{
            font-weight: normal;
            text-align: left;
            margin: 20px;
        }
        .credit-nu{
            margin: 10px 0;
            display: flex;
            justify-content: space-evenly;
            input:focus{
                border: 2px solid rgba(255, 255, 255, 0.75);
            }
        }
        input{
            border: 2px solid rgba(255, 255, 255, 0.25);
            color: white;
            padding: 0;
            background: none;
            outline: none;
            border-radius: 20px;
            height: 30px;
            text-align: center;
        }
        input::placeholder{color: rgba(255, 255, 255, 0.25) }
        .credit-rest{
            width: calc(100% - 40px);
            height: 40px;
            margin: 10px 20px;
            input{
                float: right;
                margin: 0 5px;
                border-radius: 0;
                border: none;
                border-bottom: 2px solid rgba(255, 255, 255, 0.25);
            }
            input:focus{
                border-bottom: 2px solid rgba(255, 255, 255, 0.75);
            }
        }
        .nameholder{
            input{float: left};
            width: calc(100% - 40px);
            margin: 10px 20px;
            height: 50px;
            display: flex;
            align-items: center;
            input{
                min-width: 100px;
                padding: 0 10px;
                text-align: left;
                border-radius: 0;
                border: none;
                border-bottom: 2px solid rgba(255, 255, 255, 0.25);
            }
            i{
                font-size: 50px;
                margin-left: auto;
            }
            input:focus{
                border-bottom: 2px solid rgba(255, 255, 255, 0.75);
            }
        }
    }
    .proceed-card{
        margin: 10px;
        align-items: center;
        .proceed-card-btn{
            font-family: "Barlow Condensed", sans-serif;
            font-weight: 500;
            color: rgba(255,255,255,0.90);
            font-size: 20px;
            text-align: left;
            padding: 0 15px;
            border: 2px solid rgba(255,255,255,0.25);
            background-color: rgba(132, 0, 255, 0.25);
            backdrop-filter: blur(10px);
            box-shadow: rgba(9, 30, 66, 0.25) 0 4px 8px -2px, rgba(9, 30, 66, 0.08) 0 0 0 1px;
            width: 340px;
            height: 35px;
            border-radius: 20px;
            p{
                color: rgba(255,255,255,0.90);
                float: right;
                margin: 0;
                display: inline-block;
            }
        }
        button:hover{
            transform: scale(1.15);
        }
        button:active{
            transform: scale(0.95);
        }
    }
}
#inspire{
    .slider::-webkit-scrollbar{
        display: none;
    }
    margin: 7.5px;
    main{
        min-height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .slider{
        padding: 5px;
        overflow-x: auto;
        border-radius: 20px;
        display: flex;
        align-items: center;
        height: 50vh;
        margin: 0 20px;
        width: calc(100% - 40px);
        .slider_track{
            display: flex;
        }
        .slide{
            position: relative;
            display: flex;
            margin: 0 20px;
            height: 45vh;
            width: fit-content;
            align-items: center;
            border-radius: 20px;
            box-shadow: rgba(9, 30, 66, 0.25) 0 4px 8px -2px, rgba(9, 30, 66, 0.08) 0 0 0 1px;
            img{
                aspect-ratio: auto;
                height: 100%;
                border-radius: 20px;
            }
        }
    }
    .slider_nav{
        margin: 0;
        display: flex;
        justify-content: center;
        .btn{margin:  0 10px}
    }
    .slide:hover{
        transform: scale(1.05);
        box-shadow: var(--accent) 0 0 8px 2px;
    }
}
button{
    cursor: pointer;
    border: none;
    appearance: none;
    background-color: inherit;
}
header{
    .hamburger{
        overflow-x: auto;
        border-radius: 20px;
        background-color: rgba(95,82,211,90%);
        backdrop-filter: blur(2px);
        width: 330px;
        height: calc(100% - 85px);
        position: fixed;
        margin-top: 70px;
        z-index: 100;
        transform: translateX(-340px);
        .dropmenu-content{
            position: relative;
            cursor: pointer;
            display: none;
            a {
                display: block;
            }
        }
        ul{
            list-style-type: none;
            margin: 10px;
            padding: 0;
        }

        ul li{
            i{
                font-size: 36px;
                float: right;
            }
            margin: 10px;
            text-decoration: none;
            font-size: 30px;
            hr{
                color: black;
            }
            a{
                text-decoration: none;
                color: black;
            }
        }
        .hamburger-extra{
            margin: 10px 20px;
            float: right;
            img{
                width:60px
            }
        }
        a:hover{
            text-shadow: 2px 2px 4px var(--glow);
        }
    }
    .burger-btn{
        display: none;
        border-radius: 20px;
        width: 30px;
        height: 30px;
    }
    .dropmenu-btn{
        display: none;
    }
    .menu-icon{
        font-size: 40px;
    }
    .dropdown {
        position: relative;
        display: inline-block;
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: var(--background);
            min-width: 160px;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            z-index: 1;
            a {
                color: var(--text);
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }
        }
    }
    position: sticky;
    top: 10px;
    z-index: 99;
    nav{
        height: 60px;
        border-radius: 40px;
        background-color: var(--accent);
        box-shadow: 0 4px 16px 2px var(--shadow);
        display: flex;
        flex-direction: row;
        align-items: center;
        .logo{
            margin: 0 0 0 20px;
        }
        .navmenu{
            padding: 0;
            a:hover,a.active{
                text-shadow: 2px 2px 4px var(--glow);
            }
        }
        img{
            margin-left: 5px;
            width:40px;
            height:40px;
        }
        .acc {
            margin: 0 20px 0 0;
            padding: 0;
            a:hover{
                filter: drop-shadow(0px 0px 2px var(--glow));
            }
            #dark{
                margin-right: -10px;
            }
        }
        ul{
            display: flex;
            list-style: none;
        }
        a{
            cursor: pointer;
            text-decoration: underline;
            transition: all 0.3s ease;
            margin: 0 5px 0 5px;
            color: black;
            font-size: 18px;
            text-transform: uppercase;
        }
    }
}
main{
    padding-top: 10px;
}
.item2 {
        align-content: center;
        display: flex;
        width: 100%;
        height: 400px;
        iframe
        {
            width: calc(100% - 20px);
            height: 100%;
            margin: auto ;
            border-radius: 20px;
            box-shadow: 0 0 10px;
        }
    }
.grid-tags{
    margin: 15px 0 0 0;
    display: flex;
    justify-content: space-between;
    i{
        color: var(--text);
        font-size: 28px;
    }
    p{
        align-self: center;
        font-size: 30px;
        margin: 0 40px 0 40px;
        color: var(--text);
        text-shadow: 2px 2px  8px var(--accent);
    }
    .grid-mover{
        align-self: center;
        margin: 0 40px 0 0;
    }
    i:hover {
        text-shadow: var(--accent) 0 0 32px;
        transform: scale(150%);
    }
    i:active {
        text-shadow: var(--shadow) 0 0 7px;
        transform: scale(95%);
    }
}
.new-arrival-grid{
    justify-content: left;
    display: flex;
    gap: 15px;
    padding: 25px;
    overflow-x: auto;
    flex-wrap: nowrap;
    .argrid {
        transition: all 0.3s;
        box-shadow: rgba(9, 30, 66, 0.25) 0 4px 8px -2px, rgba(9, 30, 66, 0.08) 0 0 0 1px;
        background-color: rgba(255, 255, 255, 0.074);
        text-align: center;
        padding: 10px;
        font-size: 30px;
        border-radius: 20px;
        min-width: 300px;
        width: 300px;
        min-height: 440px;
        height: 440px;
        display: flex;
        flex-direction: column;
        p{
            width: 100%;
            max-height: 140px;
            font-size: 26px;
            margin: 0;
            color: var(--text);
            text-align: center;
            overflow: hidden;

        }
        .arimg{
            width: calc(100% - 10px);
            max-height: 260px;
            min-height: 260px;
            margin: 10px 0 0;
            box-shadow: var(--shadow) 0 0 5px 1px;
            align-self: center;
            position: relative;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            background-color: white;
        }
        img
        {
            padding: 0 ;
            justify-content: center;
            margin: auto 10px;
            position: relative;
            width: calc(100% - 40px);
            height: calc(100% - 40px);
            object-fit: contain;
            align-self: center;
        }
    }
}
.btn{
    border-radius: 20px;
    min-width: 100px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 30px;
    align-self: center;
    margin-top: auto;
    margin-bottom: 10px;
    background-color: var(--accent);
    box-shadow: var(--shadow) 0 0 6px;
    color: ghostwhite;
    font-size: 18px;
    transition: 0.15s;
}
.btn:hover {
    box-shadow: var(--accent) 0 0 16px;
    transform: scale(105%);
}
.btn:active {
    box-shadow: var(--shadow) 0 0 7px;
    transform: scale(95%);
}
.argrid:hover {
    transform: scale(1.05);
    box-shadow: var(--accent) 0 1px 8px;
}
.footer {
    border-radius: 20px;
    margin: 10px 0 0 0;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.074);
    display: flex;
    flex-wrap: wrap;
    box-shadow: rgba(14, 30, 37, 0.12) 0 2px 4px 0, rgba(14, 30, 37, 0.32) 0 2px 16px 0;
    .footer-content{
        width: 200px;
        margin: 10px;
        h4 {
            font-size: 20px;
            margin: 10px 0 10px 20px;
            color: var(--text);
        }
        ul
        {
            list-style: none;
            margin-left: -20px;
        }
        li
        {
            font-size: 18px;
            margin-bottom: 8px;
        }
        a
        {
            color: var(--text);
            text-decoration: none;
        }
        a:hover{
            transition: text-shadow 0.3s ease 0s;
            text-shadow: 2px 2px 4px var(--glow);
        }
    }
}
:root {
    --text: #ffffff;
    --background: #120f1a;
    --primary: #a49edb;
    --secondary: #342a88;
    --accent: #5f52d3;
    --glow: #c2affa;
    --grid: #171717;
    --shadow: rgba(255,255,255,0.2);
}
.dark{
    --text: #000000;
    --background: #efeafc;
    --primary: #2a2461;
    --secondary: #8076d5;
    --accent: #5f52d3;
    --glow: #c2affa;
    --grid: #171717;
    --shadow: rgba(0,0,0,0.6);
}
@media (min-width: 751px) {
    nav{
        justify-content: space-between;
    }
    .ham{display: none;}
    .hamburger{display: none;}
}
@media (max-width: 750px) {
    .navmenu{
        display: none;
    }
    .acc{
        display: none;
    }
    nav{
        justify-content: space-between;
        padding: 0 20px ;
        .logo{
            margin:0;
        }
    }
    .new-arrival-grid{
        padding: 10px 5px;
    }
    .new-arrival-grid .argrid .arimg{
        min-height: 160px;
        max-height: 160px;
    }
    .new-arrival-grid .argrid{
        min-width: 150px;
        max-width: 150px;
        min-height: 320px;
        max-height: 320px;
        p{
            max-height: 100px;
        font-size: 20px;
        }
    }
    .footer{
        .footer-content{
            width: 160px;
            ul li{
                margin: 10px 0;
            }
        }
        a{
            font-size: 20px;
        }
    }
    #about-us{
        .us{
            h1{font-size: 40px};
            p{font-size: 25px}
        }
    }
    #inspire{
        .slider{
            height: 60vw;
            .slide{
                height: 55vw;
            }
        }
        .slider_nav{display: none}
    }
}
@media (max-width: 1090px){
    #about-us{
        .us{
            width: 90%;
        }
    }
}